:root{
    --ungu: #a24ef1;
    --bg: #202020;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body{
    font-size: 1.2rem;
    font-family: 'Work Sans', sans-serif;
    min-height: 2000px;
}

.hero::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/img-bg.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1;
    filter: grayscale(0.5);
}


.hero {
    position: relative;
    min-height: 100vh;
    
    
}

.hero h4 {
    font-size: 1.6rem;
    text-shadow: var(--shadow);
}

.hero h1 {
    font-family: 'Sacramento', cursive;
    font-size: 4.5rem;
    text-shadow: var(--shadow);
}

.hero p {
    font-size: 1rem;
    text-shadow: var(--shadow);
}

/* countdown */



.hero a {
    color: var(--ungu);
    background-color: white;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--ungu);
}


/* media query */

/* laptop */
@media (max-widht: 992px){
    html{
        font-size: 75%;
    }
}
/* tablet */
@media (max-widht: 768px){
    html{
        font-size: 65%;
    }
}
/* ponsel */
@media (max-widht: 576px){
    html{
        font-size: 55%;
    }
}